<li class="mr-6 hidden md:inline-block">
    <%= link_to current_store.storename, current_store ,class: "inline-block hover:text-gray-800"%>
</li>
<li class="mr-6">
    <a href="#"><i class="fas fa-bell fa-lg"></i></a>
</li>