<li class="mr-6 hidden md:inline-block">
    <%= link_to "ログイン", new_user_session_path, class: "inline-block hover:text-gray-800"%>
</li>
<li class="mr-6 hidden md:inline-block">
    <%= link_to "新規会員登録", new_user_registration_path ,class: "inline-block hover:text-gray-800"%>
</li>
<li class="mr-6 hidden md:inline-block">
    <%= link_to "簡単ログイン(ユーザー)", user_guest_sign_in_path, class: "inline-block hover:text-gray-800"%>
</li>