<h1 class="text-3xl text-red-300">StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<%= link_to "ケーキ",products_url("q[category_id_or_category_ancestry_eq]":"2")  %>
<%= link_to "プリン",products_url("q[category_id_or_category_ancestry_eq]":"3")  %>