<h1 class="text-3xl text-red-300">StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<%= link_to image_tag("logo.png", alt: "Rails logo",class: "object-cover h-24 w-48"),
            'http://rubyonrails.org/' %>