<h2>ギフトの作成</h2>
<%= render partial: "orders/cart_item", collection: @cart_items, as: "cart_item"%>
<h2><%= "合計：#{@total}円" %></h2>

<% if current_user %>
<%= link_to "ギフトのプレビューへ進む","#"%>
<% else %>
<span>ギフトの作成にはログインが必要です。</span>
<% end %>