<p>※このメールは自動送信メールです。</p>

<p><%= @email %> 様</p>

<p>smart giftのご利用ありがとうございます。</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>ご登録のメールアドレスが<%= @resource.unconfirmed_email %>に変更されたことをお知らせします。</p>
<% else %>
  <p>ご登録のメールアドレスが<%= @resource.email %>に変更されたことをお知らせします。</p>
<% end %>
