@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*============
.toggle_btn
=============*/
.toggle_btn {
  display: inline-block;
  position: fixed;
  right: 30px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}

.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all .5s;
}

.toggle_btn span:nth-child(1) {
  top: 4px;
}

.toggle_btn span:nth-child(2) {
  top: 14px;
}

.toggle_btn span:nth-child(3) {
  bottom: 4px;
}


//   nav-bar
.sidebar {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}

.open .sidebar {
  left: 0;
  opacity: 1;
}

.sidebar .inner {
  padding: 25px;
}

.sidebar .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}

.sidebar .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}

.sidebar .inner ul li a:hover {
  background: #e4e4e4;
}

//   mask
#mask {
  display: none;
  transition: all .5s;
}

.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
}

// stars
.Stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: 15px;
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, #fc0 var(--percent), #fff var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// forms
.form{
  @apply bg-white mx-auto border rounded px-8 pt-6 pb-8 mb-4 flex flex-col w-full max-w-sm;
  .title{
    @apply text-lg font-bold text-center;
  }
  select{
    @apply border p-1;
  }
}

#q_sorts{
  @apply border p-1;
}

.links{
  @apply mt-2;
  a{
    @apply block text-xs text-gray-500 hover:underline;
  }
}


.field {
  @apply mb-4;
}

.field{
  label {
    @apply block text-sm font-bold mb-1;
  }
  
  input{
    @apply border rounded w-full px-3;
  }
  textarea{
    @apply border rounded w-full px-3 h-20;
  }
  span{
    @apply text-sm;
  }
}

.auto_login{
  label {
    @apply text-sm mb-1;
  }
  
  input{
    @apply border rounded px-3;
  }
}

.actions{
  @apply text-center my-2;
  input{
    @apply bg-red-300 hover:bg-red-400 text-white text-sm font-bold py-2 px-4 rounded;
  }
}

// flash 
.fade{
  animation-name: fadeOut;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes fadeOut {

  0% {opacity: 1} 

  100% {opacity: 0} 

}


.signup_btn {
  @apply text-white text-sm font-bold py-2 px-4 rounded;
}

#facebook_btn {
  background-color: #3B5998;
}

#twitter_btn {
  background-color: #1DA1F2
}

.pagination {
  @apply relative z-0 inline-flex rounded-md -space-x-px;
  a {
    @apply relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50;
  }
  .gap {
    @apply relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700;
  }
  .current{
    @apply relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium text-white bg-gray-500;
  }
}