<div class="flex relative">
    <%= link_to "", edit_dashboard_product_url(product), class: "absolute w-full h-full whitespace-nowrap"%>
    <div class="w-24">
    <%= image_tag(product.display_image, class: "block h-auto w-12 m-3") if product.image.attached?%>
    </div>
    <div class="flex-grow">
    <%= product.name %>
    </div>
    <div class="w-24">
        <%= "#{product.price.to_s} 円" %>
    </div>
</div>