<%= render 'layouts/search_form', url: products_path, q: @q %>
<main>
    <% if @products.empty? %>
    <div class="text-center mt-4">
        <p class="text-lg font-semibold">ご指定の上限を満たす商品が見つかりませんでした</p>
        <p>条件を変更して再度検索してください。</p>
    </div>
    <% else %>
    <div class="flex flex-wrap -mx-1 lg:-mx-4">
        <%= render partial: "products/product", collection: @products, as: "product"%>
    </div>
    <%= paginate @products %>
    <% end %>
</main>