<li class="mr-6 hidden md:inline-block">
<%= link_to current_user.profile.name, profiles_path(current_user) ,class: "inline-block hover:text-gray-800"%>
</li>
<li class="mr-6">
<%= link_to my_cart_path do%>
<i class="fas fa-shopping-cart fa-lg"></i>
<% end %>
</li>