<p><%= @resource.email %> 様</p>

<p>smart giftのご利用ありがとうございます。</p>

<p>パスワードが変更がリクエストされました。以下のリンクよりパスワード変更を行ってください。</p>
<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがない方は、申し訳ありませんが当メールを削除していただくようお願いいたします。</p>